<div class="wrapper">
    <div class="cover cover-left"></div>
    <div class="cover cover-right"></div>

    <div class="book">
        <div class="book-page page-left">
            <div class="profile-page">
                <img src="../../assets/images/me.png" alt="profile">
                <h1>Zaw Lynn Htet</h1>
                <h3>Software Developer</h3>

                <div class="social-media">
                    <a href=""><i class='bx bxl-facebook'></i></a>
                    <a href=""><i class='bx bxl-github' ></i></a>
                    <a href=""><i class='bx bxl-linkedin' ></i></a>
                </div>

                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nobis reprehenderit ducimus dolorum, nihil inventore dignissimos corporis commodi at pariatur provident in explicabo recusandae? Nesciunt, accusantium ratione nostrum minima ut maiores?</p>
                <div class="btn-box">
                    <a class="btn" (click)="downloadCV()">Download CV</a>
                    <a class="btn hire-me">Hire Me</a>
                </div>
            </div>

            <span class="number-page">1</span>
        </div>

        <div class="book-page page-right turn" id="turn-1">
            <div class="page-front">
                <h1 class="title">Work Experience</h1>
                <div class="workeduc-box">
                    <div class="workeduc-content">
                        <span class="year"><i class='bx bxs-calendar' ></i>2024</span>
                        <h3>Software Developer - Company</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus, aliquam? Delectus consequatur suscipit labore voluptate. Eius laboriosam officiis quibusdam doloremque in unde repellendus voluptatem! Beatae.</p>
                    </div>
                    <div class="workeduc-content">
                        <span class="year"><i class='bx bxs-calendar' ></i>2024</span>
                        <h3>Software Developer - Company</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus, aliquam? Delectus consequatur suscipit labore voluptate. Eius laboriosam officiis quibusdam doloremque in unde repellendus voluptatem! Beatae.</p>
                    </div>
                    <div class="workeduc-content">
                        <span class="year"><i class='bx bxs-calendar' ></i>2024</span>
                        <h3>Software Developer - Company</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus, aliquam? Delectus consequatur suscipit labore voluptate. Eius laboriosam officiis quibusdam doloremque in unde repellendus voluptatem! Beatae.</p>
                    </div>
                </div>

                <span class="number-page">2</span>
                <span class="nextprev-btn" data-page="turn-1"><i class='bx bxs-chevron-right'></i></span>
            </div>

            <div class="page-back">
                <h1 class="title">Projects</h1>
                <div class="workeduc-box">
                    <div class="workeduc-content">
                        <span class="year">2024</span>
                        <h3>Software Developer - Company</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus, aliquam? Delectus consequatur suscipit labore voluptate. Eius laboriosam officiis quibusdam doloremque in unde repellendus voluptatem! Beatae.</p>
                    </div>
                    <div class="workeduc-content">
                        <span class="year">2024</span>
                        <h3>Software Developer - Company</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus, aliquam? Delectus consequatur suscipit labore voluptate. Eius laboriosam officiis quibusdam doloremque in unde repellendus voluptatem! Beatae.</p>
                    </div>
                </div>

                <span class="number-page">3</span>
                <span class="nextprev-btn back" data-page="turn-1"><i class='bx bxs-chevron-left'></i></span>
            </div>
        </div>

        <div class="book-page page-right turn" id="turn-2">
            <div class="page-front">
                <h1 class="title">My Services</h1>
                <div class="workeduc-box">
                    <div class="workeduc-content">
                        <span class="year">2024</span>
                        <h3>Software Developer - Company</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus, aliquam? Delectus consequatur suscipit labore voluptate. Eius laboriosam officiis quibusdam doloremque in unde repellendus voluptatem! Beatae.</p>
                    </div>
                </div>

                <span class="number-page">4</span>
                <span class="nextprev-btn" data-page="turn-2"><i class='bx bxs-chevron-right'></i></span>
            </div>

            <div class="page-back">
                <h1 class="title">My Skills</h1>
                <div class="workeduc-box">
                    <div class="workeduc-content">
                        <span class="year">2024</span>
                        <h3>Software Developer - Company</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus, aliquam? Delectus consequatur suscipit labore voluptate. Eius laboriosam officiis quibusdam doloremque in unde repellendus voluptatem! Beatae.</p>
                    </div>
                </div>

                <span class="number-page">5</span>
                <span class="nextprev-btn back" data-page="turn-2"><i class='bx bxs-chevron-left'></i></span>
                <a class="back-profile">
                    <p>Profile</p>
                    <i class='bx bxs-user'></i>
                </a>
            </div>
        </div>
    </div>
</div>
